<div class="navbar">

    <div class="logo">
        <img src="<%= logo %>" alt="Logotipo do site" class="logo">
    </div>
    <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
    <div class="icons" id="icons">
      <div>
        <a href="/program"> <img src="/img/diagram-icon.svg"></a> 
        <a href="/Trail-intro-fpga"> <img src="/img/trail-icon.svg"> </a>
      </div>

    </div>
    <div class="exit">
        <a href="/user" id="btn-exit">Sair</a>
    </div>
</div>