<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel=stylesheet href="/css/docs.css">
  <link rel=stylesheet href="/css/botao.css">
  <link rel="stylesheet" href="/css/codemirror.css">
  <script src="/js/codemirror.js"></script>
  <script src="/js/matchbrackets.js"></script>
  <script src="/js/vhdl.js"></script>
  <script src="/js/CodeController.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"
    integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <style>
    .CodeMirror {
      border-top: 1px solid #c9c0c0;
      border-bottom: 1px solid #c9c0c0;
      border-radius: 10px;
    }
  </style>
  <title>VHDL </title>
</head>

<body>
  <article>
    <h2>VHDL mode</h2>
    <div>
        <form class="container" method="post" action="/">
            <div class="form-group">
                <textarea class="codemirror-textarea" id="code" name="codigo"></textarea>
            </div>
            <button type="submit" onclick="alertar()">adicionar ao banco de dados</button>
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                    lineNumbers: true,
                    matchBrackets: true,
                    mode: {
                        name: "vhdl"
                    }
                });
                var codigo = editor.getValue();

                function alertar(){
                    alert("Codigo enviado com sucesso!");
                }
                
            </script>
        </form>
    </div>
</article>
</body>

</html>