<div class="up-user-card">
    <div class="user-card">
        <img src="<%= image %> " alt="Imagem de perfil do usuário">
        <div class="user-data">
            <h3><%= name %> </h3>
            <p><%= email %> </p>
        </div>
    </div>
</div>