:root {
    --main-green: #1C5B36;
    --main-green-darker: #144227;
    --secondary-green: #4E7F63;
    --secondary-green-darker: #2b4e3a;
    --text-color: #666666;
    --background-color: #F2F3F5;
}