
/*Laptop*/
@media (max-width: 1024px) {
  .camera{
    padding: 20px;
  }
  .camera img{
    width: 38vh;
    height: 40vh;
    padding: 10px
  }
}

/*Tablet*/
@media (max-width: 768px) {
article{
  margin-left: -20px;
}
.section{
  margin-top: 50px;
}
.camera{
  padding: 20px;
}
.camera img{
  width: 38vh;
  height: 40vh;
  padding: 10px
}
}

/*Mobile L*/
@media (max-width: 425px) {


    .section img{
      width: 15px;
    }

    .btn2{
      height: 20px;
      margin-left: -30px;
      margin-top: 10px;
    }
    .btn3{
      height: 20px;
      margin-left: -30px;
      margin-top: 10px;
    }
    .btn4{
      height: 20px;
      margin-left: -30px;
      margin-top: 10px;
    }
    .btn5{
      height: 20px;
      margin-left: -30px;
      margin-top: 10px;
    }
    .btn6{
      height: 20px;
      margin-left: -30px;
      margin-top: 10px;
    }
    .btn7{
      height: 20px;
      margin-left: -30px;
      margin-top: 10px;
    }
    .btn8{
      height: 20px;
      margin-left: -30px;
      margin-top: 10px;
    }
    .btn9{
      height: 25px;
      margin-left: -30px;
      margin-top: 25px;
      margin-right: 3px;
    }
    .btn10{
      height: 25px;
      margin-left: -30px;
      margin-top: 25px;
      margin-right: 3px;
    }
    .btn11{
      height: 25px;
      margin-left: -30px;
      margin-top: 25px;
      margin-right: 3px;
    
    }
    .modal{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }
    .modal2{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }
    .modal3{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }
    .modal4{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }
    .modal5{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }
    .modal6{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }
    .modal7{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }

    .modal8{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }
    .modal9{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }
    .modal10{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }
    .modal11{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }
    .modal12{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }
    .modal13{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }
    .modal14{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }
    .modal15{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }
    .modal16{
      margin-left: -10vh;
      width: 50vh;
      height: 400px;
    }
    .config{
      padding: 0px 20px;

    }
    .config h1{
      justify-content: center;
      margin-left: 90px;
      display: block;
    }
    .name{
      width: 40vh;
    }
    .pino{
      width: 40vh;
    }
    .botao button{
      margin-left: 5vh;
      padding: 10px 60px;
    }
    .section {
      width: 50px;
      padding: 2px;
      margin-top: 25px;
      margin-left: -25px;
    }
    .chave {
      width: 50px;
      height: 50px;
      margin-top: 10px;
      margin-left: -40px;
      }
    .chave img{
      width: 15px;
    }
    .prog
    {
      margin-top: 100px;
 
    }
    .checkboxControl {
      width: 50px;
      border-radius: 7px;
    }

    .checkboxControl > div{
      line-height: 30px;
      height: 30px;
      width: 46px;
      text-shadow: 0 1px rgb(22 21 21 / 2%);
    }
    .checkboxControl .indicator{

      top: 5px;
      right: -22px;
      width: 7px;
      height: 20px;

    }

  h2{
    padding: 0px 0px 0px;
    font-size: 0.9rem;
  }
  article{
    margin: 0 0 0 -50px;
  }


  .CodeMirror{
    height: 60vh;
    width: 320px;
    margin-left: -10px;
  }
  .CodeMirror-lines {
    font-size: 0.6rem;
  }
    .camera{
      margin-top: 105vh;
      margin-left: -68vh;
      padding: 10px;
    }
    .camera img{
      height: 40vh;
      padding-left: 30px;
      padding-right: 20px;
      margin-top: 20px;
    }
    .teste{
      height: 1.5em;
      width: 1.5em;
      margin-right: 39px;
    }
    .teste label span {
      width: 15px;
      height: 18px;
      border-radius: 30px;
      margin-top: -8px;
      margin-left: -7px;
  }
    .group{
      width: 65px;
    }

}

/*Mobile M*/
@media (max-width: 375px) {
  .checkboxControl {
    width: 50px;
    border-radius: 7px;
  }

  .checkboxControl > div{
    line-height: 30px;
    height: 30px;
    width: 46px;
    text-shadow: 0 1px rgb(22 21 21 / 2%);
  }
  .checkboxControl .indicator{
    position: absolute;
    top: 5px;
    right: -14px;
    width: 7px;
    height: 20px;

  }
}

/*Mobile S*/
@media (max-width: 320px) {
  .checkboxControl {
    width: 50px;
    border-radius: 7px;
  }

  .checkboxControl > div{
    line-height: 30px;
    height: 30px;
    width: 46px;
    text-shadow: 0 1px rgb(22 21 21 / 2%);
  }
  .checkboxControl .indicator{
    position: absolute;
    top: 5px;
    right: -14px;
    width: 7px;
    height: 20px;

  }
  .camera{
    padding: 20px;
  }
}